body {
  margin: 0 auto;
  max-width: 1680px;
  width: 100%;
}
.mainHeader {
  position: relative;
  z-index: 20;
  height: 260px;
  padding: 20px 0 0 0;
  background: url(../img/headerBg.png) no-repeat center top;
  box-sizing: border-box;

  &_bigger {
    background: url(../img/headerBg2.png) no-repeat center top;
    height: 280px;

    &+.breadcrumbs {
      margin-top: -70px !important;
      margin-bottom: 0;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    flex: 0 0 16%;
    width: 16%;
  }

  &__left {
    flex: 0 0 48%;
    width: 48%;
  }

  &__right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex: 0 0 31%;
    width: 31%;
  }

  &__rightItem {
    flex: 0 0 42%;
    width: 42%;
  }

  &+* {
    position: relative;
    z-index: 10;
    margin-top: -65px;
  }

  &+.breadcrumbs {
    z-index: 25;
    margin-top: -33px;
  }
}

.menu1 {
  @extend .ul-reset;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;

  &_footer {
    display: block;
    margin-bottom: 0;

    .menu1__item {
      margin-bottom: 15px;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
      
      a {
        color: #fff;
      }

      &:before {
        background-color: #fff;
      }
    }
  }

  &__item {
    position: relative;
    flex: 0 0 30%;
    width: 30%;
    margin-bottom: 7px;
    padding-left: 10px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 4px;
      height: 1px;
      background-color: $colorText2;
    }
  }

  &__link {
    @extend .link;
    color: $colorText2;
  }
}

.menu2 {
  @extend .ul-reset;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &_footer {
    display: block;

    .menu2__item {
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        border-color: #fff;
        color: #fff;

        &:hover {
          border-color: transparent;
        }
      }
    }
  }

  &__item {
    position: relative;
    flex: 0 0 32%;
    width: 32%;
    margin-bottom: 15px;
  }

  &__link {
    @extend .link;
    border-bottom: 1px dashed lighten($colorText2, 20%);
    @extend .black;
    color: $colorText2;
    text-transform: uppercase;
  }
}

.menu3 {
  @extend .ul-reset;
  display: flex;
  justify-content: center;
  margin-top: 15px;

  &_footer {
    display: block;
    margin-top: 0;

    &:before {
      display: none !important;
    }

    .menu3__item {
      display: block;
      margin: 5px 0;
      border: none !important;
      padding-left: 10px;

      a {
        color: #fff;
      }

      &:before {
        display: none;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: auto;
        left: 0;
        margin: auto;
        width: 6px;
        height: 1px;
        background-color: #fff;
      }
    }
  }

  &:before {
    content: '';
    display: block;
    border-radius: 100px 0 0 100px;
    flex: 0 0 55px;
    width: 55px;
    padding: 20px 0;
    background: $colorGrey url(../img/menu3.png) no-repeat 20px center;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-top: 1px solid $colorGrey;
    border-bottom: 1px solid $colorGrey;
    padding: 0 12px;

    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 1px;
      height: 13px;
      background-color: $colorText;
    }

    &:last-child {
      border-radius: 0 100px 100px 0;
      border-right: 1px solid $colorGrey;
      padding-right: 18px;

      &:before {
        display: none;
      }
    }
  }

  &__link {
    @extend .link;
    color: $colorText;
  }
}

.phone {
  display: block;
  padding-left: 40px;
  background: url(../img/phoneIcon.png) no-repeat 4px 2px;
  line-height: 20px;
  text-decoration: none;
  color: $colorText2;

  &_footer {
    padding-left: 50px;
    background: url(../img/phoneIconWhite.png) no-repeat 5px 2px;
    color: #fff;
  }

  span {
    display: block;
    @extend .black;
    font-size: 16px;
  }
}

.address {
  display: block;
  @extend .link-span;
  padding-left: 35px;
  background: url(../img/addressIcon.png) no-repeat left center;
  line-height: 20px;
  text-decoration: none;
  color: $colorText2;

  &_footer {
    padding-left: 50px;
    background: url(../img/addressIconWhite.png) no-repeat 4px center;
    color: #fff;
  }

  span {
    margin-right: 20px;
  }
}

.time {
  display: block;
  padding-left: 40px;
  background: url(../img/clockIcon.png) no-repeat left center;
  line-height: 19px;

  &_footer {
    padding-left: 50px;
    background-image: url(../img/clockIconWhite.png);
    color: #fff;

    span {
      color: #fff !important;
    }
  }

  span {
    display: block;
    color: $colorRed;
  }
}

.slider {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    width: 100%;
    height: 80px;
    background-image: url(../img/splash.png);
  }

  &_additional {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      z-index: 20;
      width: 100%;
      height: 80px;
      background-image: url(../img/splash.png);
      transform: rotate(180deg);
    }

    .owl-prev {
      display: none;
    }

    .owl-next {
      left: 0;
      right: 0;
      margin: 0 auto;
      opacity: 1;
    }

    .work__image {
      img {
        max-height: 214px;
      }
    }
    
    .work__showReview {
      position: static;
      display: inline-block;
    }
  }

  &_topLine {
    .slider__item {
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 6px;
        background: url(../img/sliderTopLine.png) no-repeat center center;
      }
    }

    .slider__itemRight {
      border-color: #979797;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    height: 480px;
  }

  &__itemLeft {
    flex: 0 0 50%;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__itemLeftInner {
    display: inline-block;
    vertical-align: top;
    padding-top: 95px;
    width: 640px;
    text-align: center;
  }

  &__itemRight {
    border-left: 3px solid #000;
    flex: 0 0 50%;
    width: 50%;
    height: 100%;
    padding: 75px 0 0 70px;
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
  }

  &__itemRightInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 570px;

    .work__faces {
      padding: 0;
    }
  }

  &__itemRightInnerLeft {
    flex: 0 0 210px;
    width: 210px;

    p {
      color: #fff;
    }
    
    ul {
      padding: 0;
      list-style: none;

      li {
        position: relative;
        padding-left: 10px;
        color: #fff;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          width: 4px;
          height: 1px;
          background-color: #fff;
        }
      }
    }
  }

  &__itemRightInnerRight {
    position: relative;
    border-left: 3px solid #fff;
    flex: 0 0 245px;
    width: 245px;
    padding-left: 40px;

    img {
      position: absolute;
      right: 16px;
      top: 75px;
    }
  }

  &__itemHeader {
    margin-bottom: 5px;
    width: 340px;
    @extend .shadow;
    font-size: 34px;
    color: #fff;
    line-height: 1.2;
  }

  &__itemText {
    margin: 5px 0 20px;
    width: 360px;
    color: #fff;
    line-height: 1.4;
  }

  &__itemBigText {
    margin: 15px 0;
    width: 380px;
    @extend .shadow;
    font-size: 16px;
    color: #fff;
    line-height: 1.4;
  }

  &__itemFeatures {
    margin: 20px 0 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__itemFeaturesItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
    height: 32px;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 16px;
    color: #fff;
  }

  .owl-controls {
    @extend .container;
    z-index: 55;
    text-align: center;
    font-size: 0;
  }

  &__header {
    margin-bottom: 10px;
    @extend .shadow;
    font-size: 36px;
  }

  &__text {
    width: 450px;
    line-height: 1.3;
  }
}

.owl-pagination {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  margin: -32px auto 0;
  border-radius: 100px;
  padding: 3px 2px;
  font-size: 0;
  text-align: center;
  overflow: hidden;

  .owl-page {
    display: inline-block;
    width: 21px;
    height: 19px;
    background-color: #000;
    @extend .transition;

    &:first-child {
      border-radius: 100px 0 0 100px;
      padding-left: 1px;
    }

    &:last-child {
      border-radius: 0 100px 100px 0;
      padding-right: 1px;
    }

    &:before {
      content: '';
      display: inline-block;
      margin: 3px 0 0 0;
      border-radius: 100%;
      width: 13px;
      height: 13px;
      background-color: #fff;
    }

    &.active, &:hover {
      &:before {
        background-color: #b6b6b6;
      }
    }
  }
}

.owl-prev, .owl-next {
  position: absolute;
  top: -265px;
  box-shadow: -1px 1px 3px 0 grey;
  border-radius: 100%;
  width: 44px;
  height: 44px;
  background-color: #fff;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    width: 0;
    height: 0;
  }

  &:hover {
    opacity: 1;
  }
}

.owl-prev {
  left: 0;

  &:before {
    left: 17px;
    border-right: 7px solid #000;
  }
}

.owl-next {
  right: 0;

  &:before {
    right: 17px;
    border-left: 7px solid #000;
  }
}

.categories {

  &__inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 55px;
    flex: 0 0 357px;
    width: 357px;
  }

  &__image {
    display: block;
    position: relative;

    &>img {
      position: relative;
      z-index: 10;
      width: 100%;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 15;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 55px;
      background-image: url(../img/splash2.png);
    }
  }

  &__littleImage {
    position: absolute;
    z-index: 15;
    top: 10px;
    right: 10px;
    padding: 4px 4px 12px 4px;
    background-color: #fff;

    img {

    }
  }

  &__header {
    display: inline-block;
    margin: 15px 0 10px;
    @extend .link;
    @extend .shadow;
    font-size: 18px;
    color: $colorText2;
    line-height: 12px;
  }

  &__text {
    color: $colorText2;
    line-height: 1.4;
  }

  .slider__itemFeaturesItem {
    color: $colorText;
  }

  .slider__itemFeatures {
    margin: 10px 0 15px;
  }
}

.works {
  margin: 20px 0;

  &__header {
    @extend .header;
  }

  &__inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 40px;
  }

  &__itemImage {
    position: relative;
    display: block;
    margin-bottom: 5px;
    cursor: pointer;

    img {
      position: relative;
      z-index: 10;
    }

    span {
      display: block;
      position: absolute;
      z-index: 20;
      top: 5px;
      right: 5px;
      border-radius: 100%;
      width: 32px;
      height: 32px;
      background: #fff url(../img/square.png) no-repeat center center;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 20;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 55px;
      background: url(../img/splash2.png) no-repeat center center;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td {
    width: 50%;
    padding: 5px;
    line-height: 1.3;
    font-size: 13px;
  }

  &__more {
    @extend .headerLine;
    text-align: center;

    span {
      border-bottom: 1px dashed lighten($colorText, 40%);
      padding-bottom: 2px;
      @extend .black;
      font-size: 20px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

.work {
  display: none;
  width: 1024px;
  background-color: transparent;
  position: relative;

  &_loading {
    .work__inner {
      opacity: 0;
    }
    .work__showReview {
      opacity: 0;
    }
    .work__bottom {
      opacity: 0;
    }
    .fancybox-close-small {
      opacity: 0;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      border: 6px solid rgba(100, 100, 100, 0.4);
      border-top: 6px solid rgba(255, 255, 255, 0.6);
      border-radius: 100%;
      height: 50px;
      width: 50px;
      -webkit-animation: fancybox-rotate .8s infinite linear;
      animation: fancybox-rotate .8s infinite linear;
      background: transparent;
      z-index: 99999;
    }

    @-webkit-keyframes fancybox-rotate {
      from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); }
      to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg); } }

    @keyframes fancybox-rotate {
      from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); }
      to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg); } }

  }

  &__inner {
    display: flex;
    justify-content: space-between;
    height: 450px;
    opacity: 1;
    @extend .transition;
  }

  &__left {
    position: relative;
    flex: 0 0 749px;
    width: 749px;
    padding: 0 0 80px 0;
    text-align: center;

    &_interier {
      display: none;
      background-size: cover;
    }

    &_review {
      display: none;
    }
  }

  &__toInterier {
    @extend .link-span;
    margin-bottom: 40px;
    padding-top: 20px;

    span {
      display: inline-block;
      vertical-align: top;
      border-bottom: 2px dashed;
      @extend .shadow;
      font-size: 16px;
      cursor: pointer;
      line-height: 20px;
    }
  }

  &__image {
    display: inline-block;
    position: relative;
    box-shadow: 0 0 5px 1px #292929;
    border: 7px solid #292929;
    font-size: 0;

    &:hover {
      .work__imageLoop {
        opacity: 1;
      }
    }
  }

  &__imageInner {
    border: 6px solid #f1f1f1;
    box-shadow: 0 0 5px 1px #fff;
  }

  &__imageLoop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 52px;
    height: 52px;
    background-image: url(../img/loop.png);
    opacity: 0;
    @extend .transition;
  }

  &__showReview {
    position: absolute;
    left: 20%;
    top: 400px;
    width: 352px;
    height: 104px;
    padding: 37px 0 0 0;
    background-image: url(../img/kliaksa.png);
    @extend .shadow;
    font-size: 22px;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    opacity: 1;
    @extend .transition;
  }

  &__right {
    position: relative;
    flex: 0 0 275px;
    width: 275px;
    padding: 15px 0 0 0;
    background-image: url(../img/splashVert1.png);
    background-size: 100% 100%;
    
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -83px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 83px;
      background-image: url(../img/splashVert2.png);
      background-size: 100% 100%;
    }

    p {
      margin: 15px 0;
    }

    ul {
      padding: 0;
      list-style: none;

      li {
        position: relative;
        padding-left: 10px;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          width: 4px;
          height: 1px;
          background-color: $colorText2;
        }
      }
    }
  }

  &__faces {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 120px 0 5px;
  }

  &__face {
    margin-bottom: 10px;
    flex: 0 0 55px;
    width: 55px;
    height: 55px;
    padding: 5px 5px 12px 5px;
    background-color: #e7e0d0;
    box-shadow: 0 1px 1px 0 grey;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__rightBigText {
    @extend .black;
    font-size: 16px;
    color: $colorText2;
    text-transform: uppercase;
  }

  &__bottom {
    display: flex;
    opacity: 1;
    @extend .transition;
  }

  &__bottomLeft {
    flex: 0 0 749px;
    width: 749px;
    padding: 60px 0 0 0;
  }

  &__bottomLeftInner {
    display: none;
    margin: 0 auto;
    width: 440px;

    hr {
      display: block;
      width: 100%;
      border: none;
      height: 1px;
      background-color: #fff;
      margin: 30px 0 15px;
    }
  }

  &__bottomRight {
    position: relative;
    flex: 0 0 275px;
    width: 275px;
    padding: 30px 0 0 0;

    img {
      position: absolute;
      top: 107px;
      right: 45px;
    }
  }

  &__bottomRightHeader {
    margin-bottom: 5px;
    @extend .shadow;
    font-size: 24px;
    color: #fff;
  }

  &__bottomRightText {
    font-size: 16px;
    color: #fff;
    line-height: 1.3;
  }

  &__bottomRightLink {
    @extend .link;
    color: #fff;
  }

  &__reviewWho {
    padding: 0 0 0 50px;
    background: url(../img/mm.png) no-repeat left center;
  }

  &__reviewWhoName {
    @extend .shadow;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
  }

  &__reviewWhoText {
    font-size: 13px;
    color: #fff;
    line-height: 1.2;
  }

  .owl-prev {
    top: 200px;
    left: 10px;
  }

  .owl-next {
    top: 200px;
    right: 80px;
  }

  .owl-pagination {
    z-index: 55;
    margin-top: -60px;
  }
}

.requestForm {
  position: relative;
  z-index: 20;
  height: 432px;
  padding-top: 50px;
  background: url(../img/requestBg.png) no-repeat center center;
  box-sizing: border-box;

  &_pink {
    background: url(../img/requestBgPink.png) no-repeat center center;

    [type="submit"] {
      box-shadow: 0 2px 5px 0 $colorPink;
      background-color: $colorPink;

      &:hover {
        background-color: #fff;
      }
    }
  }

  &_purple {
    height: 507px;
    padding-top: 100px;
    background: url(../img/requestBgP.png) no-repeat center center;

    [type="submit"] {
      box-shadow: 0 2px 5px 0 $colorPurple;
      background-color: $colorPurple;

      &:hover {
        background-color: #fff;
      }
    }
  }

  &__inner {
    margin: 0 auto;
    width: 950px;
    text-align: center;
  }

  &__header {
    display: inline-block;
    width: 439px;
    height: 100px;
    padding-top: 43px;
    background-image: url(../img/klWhite.png);
    @extend .shadow;
    font-size: 28px;
    box-sizing: border-box;
  }

  &__header2 {
    @extend .shadow;
    font-size: 28px;
    color: #fff;
  }

  &__text {
    margin: 5px 0 15px;
    @extend .shadow;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
  }

  &__fieldset {
    display: flex;
    justify-content: space-between;
  }

  &__textInner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 25px 0 20px;
  }

  &__textInnerLeft {
    flex: 0 0 48%;
    width: 48%;
    font-size: 18px;
    color: #fff;
    line-height: 1.3;
    text-align: right;
  }

  &__textInnerRight {
    position: relative;
    flex: 0 0 43%;
    width: 43%;
    text-align: left;

    a {
      @extend .link;
      @extend .shadow;
      font-size: 24px;
      color: #fff;
      line-height: 1.3;
    }

    &:before {
      content: '';
      position: absolute;
      left: -59px;
      top: -35px;
      width: 22px;
      height: 76px;
      background-image: url(../img/arr.png);
      transform: rotate(-90deg);
    }
  }
}

.content {
  margin-top: 20px;
  margin-bottom: 20px;

  &_small {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
  }

  &_column3 {
    column-count: 3;

    p {
      margin: 0;
    }
  }

  &_column2 {
    column-count: 2;

    p {
      margin: 0;
    }
  }

  p, .p {
    margin: 15px 0;
  }

  hr {
    margin: 20px 0;
    border: none;
    height: 1px;
    background-color: $colorText;
  }

  &_bg {
    padding-top: 120px;
    background: url(../img/contentBg.png) no-repeat center top;
  }

  table {
    margin: 15px auto;
    border-collapse: collapse;
    width: 700px;

    th {
      padding: 20px;
      background-color: $colorBlue;
      @extend .black;
      font-size: 18px;
      color: #fff;
      text-align: left;
      vertical-align: middle;
    }
    
    td {
      padding: 15px 0 20px 15px;
      background-color: #fff;
      font-size: 16px;
    }

    td, th {
      border: 1px solid #b6b6b6;
    }
  }

  .table-small {
    width: 150px;
  }
}

.reviews {

  &__header {
    @extend .header;
  }

  &__inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 50px;
    flex: 0 0 560px;
    width: 560px;
  }

  &__itemImage {
    position: relative;

    span {
      @extend .work__showReview;
      top: auto;
      bottom: -10px;
      z-index: 30;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 20;
      width: 100%;
      height: 80px;
      background-image: url(../img/splash.png);
    }
  }

  &__itemSlider {
    width: 560px !important;

    a {
      display: inline-block;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 20;
        width: 52px;
        height: 52px;
        background-image: url(../img/loop2.png);
      }
    }
  }

  .work__bottomRightText, .work__reviewWhoName, .work__reviewWhoText {
    color: $colorText;
  }
  
  hr {
    background-color: $colorText;
  }

  .owl-next {
    top: 40%;
    right: -20px;
    opacity: 1;
  }

  .owl-prev {
    display: none;
  }

  &__more {
    @extend .works__more;
  }
}

.advantages {
  height: 755px;
  padding: 150px 0 0 0;
  background: url(../img/advBg.png) no-repeat center center;
  box-sizing: border-box;

  &_additional {
    margin: 30px 0;
    height: auto;
    padding: 0;
    background: none;

    .advantages__image span {
      box-shadow: none;
      background-color: #e4e4e4;
    }

    .advantages__header, .advantages__text {
      color: $colorText2;
    }
  }

  &_bottom {
    position: relative;
    z-index: 55;
    padding-bottom: 30px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: -40px;
      width: 100%;
      height: 80px;
      background: url(../img/splash.png) no-repeat center center;
      transform: rotate(180deg);
    }
  }

  &__inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    flex: 0 0 450px;
    width: 450px;
  }

  &__image {
    position: relative;
    flex: 0 0 114px;
    width: 114px;
    height: 144px;
    background-image: url(../img/aBg.png);

    div {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background-repeat: no-repeat;
      background-position: center 47%;
    }

    span {
      position: absolute;
      left: -30px;
      top: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 10px 0px darken($colorBlue, 10%);
      border-radius: 100%;
      width: 32px;
      height: 32px;
      background-color: $colorBlue;
      @extend .black;
      font-size: 16px;
      color: #fff;
    }
  }

  &__info {
    margin-left: 25px;
  }

  &__header {
    @extend .shadow;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
  }

  &__text {
    @extend .light;
    font-size: 16px;
    color: #fff;
    line-height: 1.3;
  }
}

.catalogCategories {

  &__inner {
    counter-reset: list;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 30px;
    @extend .ul-reset;

    &>li {
      position: relative;
      margin-bottom: 25px;
      flex: 0 0 250px;
      width: 250px;
      padding: 0 0 0 40px;

      &:before {
        counter-increment: list;
        content: "0"counter(list);
        position: absolute;
        left: 0;
        top: -5px;
        border-bottom: 3px solid $colorBlue;
        @extend .black;
        font-size: 16px;
        color: $colorBlue;
      }

      &:nth-child(n+10) {
        &:before {
          content: counter(list);
        }
      }

      &>a {
        @extend .shadow;
        font-size: 18px;
        color: $colorText;
        text-decoration: none;
      }

      ul {
        margin-top: 5px;

        li {
          position: relative;
          margin-bottom: 8px;
          padding-left: 12px;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 8px;
            height: 1px;
            background-color: $colorText2;
          }
          
          a {
            display: inline-block;
            @extend .link;
            color: $colorText;
            line-height: 12px;
          }
        }
      }
    }
  }
}

.catalog {
  margin: 20px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px;
  }

  &__item {
    margin-bottom: 25px;
    flex: 0 0 225px;
    width: 225px;
  }

  &__itemImage {
    position: relative;

    &:hover {
      .catalog__itemGetPrice, .catalog__itemShow, &:after {
        visibility: visible;
        opacity: 1;
      }
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 15;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 55px;
      background-image: url(../img/splash2.png);
    }

    &:after {
      content: '';
      visibility: hidden;
      opacity: 0;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 15;
      margin: auto;
      width: 88%;
      height: 0;
      border-top: 2px dashed #fff;
    }
  }
  
  &__itemShow {
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    @extend .shadow;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    @extend .transition;
  }
  
  &__itemGetPrice {
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 10;
    width: 100%;
    height: 45%;
    background-color: rgba(0, 0, 0, 0.8);
    @extend .shadow;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    @extend .transition;
  }

  &__itemNumber {
    margin-bottom: 5px;
    font-size: 13px;
  }

  &__itemCat {
    @extend .black;
  }

  &__open {
    margin-bottom: 25px;
    padding: 0 30px;
  }

  &__openInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__openTrigger {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $colorText;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      .catalog__openTriggerText {
        border-color: transparent;
      }
    }
  }

  &__openTriggerMarker {
    flex: 0 0 44px;
    width: 44px;
    height: 44px;
    background-image: url(../img/menuIcon.png);
  }

  &__openTriggerText {
    display: inline-block;
    margin-left: 10px;
    border-bottom: 2px dashed;
    @extend .black;
    font-size: 16px;
    text-transform: uppercase;
    @extend .transition;
  }

  &__openSearch {
    margin-bottom: 0 !important;
  }

  &__openPicked {

  }

  &__openPickedLeft {
    @extend .light;
    font-size: 16px;
  }

  &__openPickedRight {
    @extend .black;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__filter {
    margin: -20px 0 15px;
    padding: 55px 0 30px;
    background: url(../img/filterBg.png) no-repeat center center;
  }

  &__filterInner {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
  }

  &__filterItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__filterText {
    margin-right: 10px;
    @extend .black;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__filterSlider {
    position: relative;
    flex: 0 0 194px;
    width: 194px;
    height: 5px;
    background-color: rgba(181, 218, 245, 0.4);

    .ui-slider-range {
      position: relative;
      height: 100%;
      background-color: #b5daf5;
    }
    
    .ui-slider-handle {
      position: absolute;
      top: -6px;
      width: 5px;
      height: 17px;
      background-color: $colorBlueLight;
    }

    .ui-slider-handle-text {
      position: absolute;
      bottom: -20px;
      left: -3px;
      font-size: 12px;
    }
  }
}

.pagination {
  text-align: center;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    @extend .ul-reset;

    li {
      margin: 0 8px;

      a {
        display: inline-block;
        border-bottom: 3px solid transparent;
        padding-bottom: 1px;
        @extend .black;
        font-size: 16px;
        color: #000;
        text-decoration: none;
        @extend .transition;
      }

      &:hover, &.active {
        a {
          border-color: $colorBlue;
          color: $colorBlue;
        }
      }
    }
  }

  &__prev {
    a {
      position: relative;
      display: inline-block;
      box-shadow: -1px 1px 3px 0 grey;
      border: none !important;
      border-radius: 100%;
      width: 44px;
      height: 44px;
      background-color: #ededed;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 40%;
        margin: auto;
        border-right: 7px solid #000;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        width: 0;
        height: 0;
      }
    }
  }

  &__next {
    a {
      position: relative;
      display: inline-block;
      box-shadow: -1px 1px 3px 0 grey;
      border: none !important;
      border-radius: 100%;
      width: 44px;
      height: 44px;
      background-color: #ededed;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 40%;
        margin: auto;
        border-left: 7px solid #000;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        width: 0;
        height: 0;
      }
    }
  }
}

.footer {
  position: relative;
  z-index: 15;
  margin-top: -70px;
  padding: 110px 0 15px 0;
  background-color: $colorFooter;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  &__item {
    border-left: 1px solid #919191;
    flex: 0 0 210px;
    width: 210px;
    padding: 0 20px 10px 20px;

    &:first-child {
      border-left: none;
    }
  }

  &__line {
    margin: 10px 0 15px;
    height: 4px;
    background: url(../img/lineFooter.png) no-repeat center center;
  }

  &__bottom {
    @extend .light;
    font-size: 13px;
    color: #a6a6a6;
    text-align: center;
  }
}

.quickOrder {
  color: #fff;
  text-align: center;

  &__header {
    margin-bottom: 10px;
    @extend .black;
    font-size: 17px;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 10px;
    @extend .light;
    font-size: 13px;
    line-height: 1.3;
  }
}

.popup {
  display: none;
  width: 440px;
  background-color: transparent;
  text-align: center;
  
  &__header {
    margin-bottom: 10px;
    height: 100px;
    padding-top: 43px;
    background-image: url(../img/klWhite.png);
    @extend .shadow;
    font-size: 28px;
    color: $colorBlue;
    box-sizing: border-box;
  }

  .input {
    margin-bottom: 15px;
  }
}

.file {
  display: block;
  margin-bottom: 15px;

  input {
    display: none;
  }
}

.breadcrumbs {
  margin: 20px 0;

  &__inner {
    @extend .ul-reset;
    padding-left: 60px;
  }

  &__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;

    &:before {
      content: '/';
      position: absolute;
      left: -13px;
      top: 0;
    }

    &:first-child {
      &:before {
        display: none;
      }
    }
  }

  a {
    @extend .link;
    color: $colorText;
  }
}

.search {
  display: block;
  margin-bottom: 40px;
  text-align: center;

  &__inner {
    display: inline-block;
    position: relative;
    flex: 0 0 205px;
    width: 205px;

    input {
      width: 100%;
      border-radius: 100px;
      border: 1px solid $colorSearch;
      padding: 8px 50px 8px 16px;
      font-family: $font-family;
      font-size: 13px;
      box-sizing: border-box;
    }

    button {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 0;
      border-left: 2px dashed $colorSearch;
      width: 40px;
      height: 26px;
      background: url(../img/searchSubmit.png) no-repeat 8px 3px;
      cursor: pointer;
    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: $colorText;
      opacity: 0.7;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $colorText;
      opacity: 0.7;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $colorText;
      opacity: 0.7;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $colorText;
      opacity: 0.7;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
      color: $colorText;
      opacity: 0.7;
    }
  }
}

.catalogItem {
  margin-bottom: 30px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    flex: 0 0 40%;
    width: 40%;
    padding: 30px 6% 0 4%;
  }

  &__right {
    flex: 0 0 40%;
    width: 40%;
    padding: 10px 6% 0 4%;
    background-color: #f4f4f4;
  }

  &__image {
    display: block;
    margin: 30px 0 45px;
  }

  &__name {
    @extend .shadow;
    font-size: 24px;
    line-height: 1.5;
  }

  &__artikul {
    font-size: 12px;
  }

  &__tagsHeader {
    @extend .shadow;
    font-size: 18px;
    line-height: 1.5;
  }

  &__tagsItems {
    @extend .ul-reset;
  }

  &__tagsItem {
    display: inline-block;
    position: relative;
    margin-right: 10px;

    a {
      @extend .link;
      color: $colorRedLight;
    }

    &:before {
      content: '/';
      position: absolute;
      left: -13px;
      top: 0;
      color: $colorRedLight;
    }

    &:first-child {
      &:before {
        display: none;
      }
    }
  }

  &__hr {
    display: block;
    margin: 30px 0;
    width: 100%;
    height: 1px;
    background-color: #bcbcbc;
  }

  &__info {
    display: block;
  }

  &__infoItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
    height: 38px;
    padding-left: 45px;
    background: url(../img/arraar.png) no-repeat left center;

    a {
      border-bottom: 1px dashed lighten($colorText, 40%);
      font-size: 16px;
      color: $colorText;
      text-decoration: none;
      @extend .transition;

      &:hover {
        border-color: transparent;
      }
    }
  }
}

.calc {

  &__item {
    margin: 20px 0;
    border-top: 1px solid #b4b4b4;
    padding: 20px 0 0;

    &:first-child {
      border: none;
      padding: 0;
    }
  }

  &__header {
    margin-bottom: 10px;
    @extend .shadow;
    font-size: 18px;
  }

  &__fieldset {
    vertical-align: middle;
  }

  &__inputWrapper {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;

    span {

    }
  }

  &__input {
    border-radius: 100px;
    border: 3px solid #bdbdbd;
    width: 75px;
    padding: 10px;
    background-color: #fff;
  }

  .radioWithImage {
    margin-right: 30px;
  }

  &__submit {
    display: inline-block;
    width: auto;
    padding: 10px 30px 11px;
    background-color: $colorBlueLight;
  }

  &__submitHeader {
    color: $colorBlueLight;
  }

  &__days {
    font-family: $font-family;
    @extend .black;
    font-size: 36px;
  }
}

.catalogOpen {
  display: none;
  background-color: transparent;

  .catalogCategories {
    width: 1280px;

    .catalogCategories__inner > li > a {
      color: #fff;
    }

    .catalogCategories__inner>li ul li {
      
      &:before {
        background-color: #fff;
      }
      
      a {
        color: #fff;
      }
    }
  }

  .fancybox-close-small {
    top: -60px;
    right: 70px;
  }
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    margin-right: 10px;
  }
}

.sort__select {

  &+.ui-selectmenu-button {
    display: inline-block;
    position: relative;
    border-radius: 100px;
    border: 1px solid $colorSearch;
    padding: 9px 0;
    background-color: #fff;
    cursor: pointer;

    .ui-selectmenu-icon {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 0;
      border-left: 2px dashed $colorSearch;
      width: 40px;
      height: 26px;
      background: url(../img/sortIcon.png) no-repeat 10px 5px;
      cursor: pointer;
    }

    .ui-selectmenu-text {
      display: block;
      width: 100%;
      padding: 0 50px 0 16px;
      font-family: $font-family;
      font-size: 13px;
      box-sizing: border-box;
    }
  }
}

.ui-selectmenu-menu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;

  ul {
    @extend .ul-reset;
    border: 1px solid $colorGrey;
    padding: 10px 5px 0 5px;

    li {
      margin-bottom: 10px;
      cursor: pointer;
    }
  }
}
.ui-selectmenu-open {
  display: inline-block;
}

.catalogBagets {

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 60px;
  }

  &__item {
    margin-bottom: 40px;
    border: 3px solid transparent;
    flex: 0 0 255px;
    width: 255px;
    @extend .transition;

    &:hover {
      border-color: $colorBaget;
      
      .catalogBagets__itemInfo {
        background-color: $colorBaget;
      }
    }
  }

  &__itemImage {
    display: block;
    font-size: 0;
  }

  &__itemInfo {
    padding-top: 35px;
    padding-bottom: 10px;
    background-color: transparent;
    @extend .transition;
  }

  &__itemName {
    margin-bottom: 10px;
    @extend .black;
    font-size: 16px;
  }

  &__itemFeature {
    font-size: 13px;
    line-height: 1.3;
  }

  &__itemPrice {
    @extend .black;
    font-size: 20px;
  }

  &__itemButton {
    display: inline-block;
    margin-top: 10px;
    border-radius: 100px;
    border: 2px solid #b2b2b2;
    padding: 13px 30px 10px;
    background-color: transparent;
    @extend .black;
    color: #b2b2b2;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    @extend .transition;
    
    &:hover {
      border-color: $colorBlue;
      background-color: $colorBlue;
      color: #fff;
    }
  }
}

.bagetPopup {
  display: none;
  background-color: transparent;

  .header {
    width: $site-width;
    background: url(../img/bagetPopupHeaderBg.png) no-repeat center center;
    font-size: 24px;
    color: #fff;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 760px;
  }

  &__left {
    flex: 0 0 306px;
    width: 306px;
  }

  &__right {
    flex: 0 0 413px;
    width: 413px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .bagetPopup__label {
      margin-bottom: 0;
    }

    .bagetPopup__label {

      span {
        &:first-child {
          @extend .black;
          text-transform: uppercase;
        }
      }
    }
  }

  &__label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;

    span {
      font-size: 16px;
      color: #fff;
    }

    input {
      margin: 0 5px 0 10px;
      border: none;
      border-radius: 100px;
      width: 70px;
      padding: 10px 15px;
      font-family: $font-family;
      font-size: 16px;
    }
  }

  .catalogBagets__itemName {
    color: #fff;
  }

  .catalogBagets__itemFeature {
    color: #fff;
  }

  hr {
    margin: 15px 0;
    border: none;
    height: 1px;
    background-color: #8f8f8f;
  }

  &__submit {
    width: auto;
    padding: 11px 25px 10px;
  }

  .fancybox-close-small {
    top: -40px;
    right: 0;
  }
}

.personal {

  &__category {
    margin-bottom: 10px;
  }

  &__header {
    margin-left: 60px;
    margin-bottom: 20px;

    span {
      display: inline-block;
      border-bottom: 3px solid;
      @extend .shadow;
      font-size: 24px;
      line-height: 1.4;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px;
  }

  &__item {
    margin-bottom: 20px;
    flex: 0 0 250px;
    width: 250px;
    text-align: center;
  }
  
  &__image {
    position: relative;

    img {
      max-width: 100%;
    }
  }

  &__info {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 40px;
    left: -63px;
    z-index: 55;
    border-radius: 15px;
    border: 6px solid rgba(255,255,255,0.5);
    width: 322px;
    padding: 20px 25px;
    background-color: #1d2b37;
    background-clip: padding-box;
    font-size: 14px;
    color: #fff;
    line-height: 1.3;
    text-align: left;
    @extend .transition;

    &:before {
      content: '';
      position: absolute;
      right: 70px;
      top: -13px;
      margin: 0 auto;
      width: 0;
      height: 0;
      border-bottom: 13px solid #1d2b37;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
  }

  &__infoInner {

  }

  &__infoTrigger {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    border-radius: 100%;
    border: 4px solid #eeeeee;
    width: 30px;
    height: 30px;
    background-color: #c3c3c3;
    @extend .black;
    font-size: 18px;
    color: #eeeeee;
    box-sizing: border-box;
    text-align: center;
    cursor: help;

    &:hover {
      &+.personal__info {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__name {
    font-size: 20px;
    line-height: 1.3;
  }

  &__function {
    line-height: 1.3;
  }
}

.serts {

  &__inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__item {

  }
}

.video {

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 45px;
  }

  &__item {
    margin-bottom: 50px;
    flex: 0 0 560px;
    width: 560px;
    padding: 0 0 15px 0;
  }

  &__itemImage {
    display: block;
    position: relative;

    img {
      max-width: 100%;
    }

    span {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 136px;
      height: 68px;
      background: url(../img/videoButtonSprite.png) no-repeat top center;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 136px;
        height: 68px;
        background: url(../img/videoButtonSprite.png) no-repeat bottom center;
        opacity: 0;
        @extend .transition;
      }
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 2px;
      width: 100%;
      height: 60px;
      background: url(../img/splash2.png) no-repeat center center;
      background-size: cover;
    }

    &:hover {
      span {
        &:before {
          opacity: 1;
        }
      }
    }
  }

  &__itemInfo {
    margin: 10px auto 0;
    width: 430px;
  }

  &__itemName {
    @extend .shadow;
    font-size: 18px;
    line-height: 1.1;
  }

  &__itemDescr {
    font-size: 13px;
    line-height: 1.2;
  }

  &__itemText {
    @extend .light;
    font-size: 16px;
    line-height: 1.3;
  }
  
  hr {
    margin: 12px 0 15px -5%;
    border: none;
    width: 110%;
    height: 1px;
    background-color: $colorText;
  }
}

.videoPage {
  text-align: center;

  .video__itemImage {
    display: inline-block;
    width: 885px;

    &:before {
      display: none;
    }
  }

  &__info {
    margin-top: -90px;
    text-align: left;
  }

  &__infoInner {
    margin: 0 auto;
    width: 870px;
  }

  &__name {
    @extend .shadow;
    font-size: 36px;
  }

  &__descr {
    line-height: 1.2;
  }

  hr {
    margin: 12px 0 15px -1%;
    border: none;
    width: 102%;
    height: 1px;
    background-color: $colorText;
  }

  .content {
    @extend .light;
    font-size: 16px;
    line-height: 1.3;
    text-align: left;

    .container {
      width: 870px;
    }
  }
}

.cities {
  position: relative;
  background-color: $colorBaget;
  margin-bottom: -60px;
  padding-bottom: 80px;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 40px 30px 0 30px;
  }

  &__col {
    flex: 0 0 225px;
    width: 225px;
  }

  &__item {
    position: relative;
    margin-bottom: 15px;
    padding: 0 0 0 55px;

    &:last-child {
      margin-bottom: 0;

      .cities__city {
        border: none;
      }
    }
  }

  &__letter {
    position: absolute;
    left: 0;
    top: -14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: #c3d5df;
    @extend .black;
    font-size: 20px;
    color: #fff;
  }

  &__name {
    margin-bottom: 5px;
    @extend .black;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__city {
    padding: 0 0 15px 0;

    &:last-child {
      border-bottom: 1px solid $colorText;
    }
  }
}

.contactPage {

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  &__left {
    flex: 0 0 320px;
    width: 320px;
  }

  &__middle {
    flex: 0 0 425px;
    width: 425px;
    padding-bottom: 40px;
  }

  &__right {
    flex: 0 0 370px;
    width: 370px;
  }

  &__header {
    text-align: center;

    span {
      display: inline-block;
      border-bottom: 3px solid;
      padding-bottom: 5px;
      @extend .shadow;
      font-size: 24px;
    }
  }

  .owl-controls {
    text-align: center;
  }

  .owl-prev, .owl-next {
    position: relative;
    top: auto;
    display: inline-block;
    margin: 10px 5px 0 5px;
    box-shadow: none;
    width: 44px;
    height: 44px;
    background-color: #dfdfdf;

    &:hover {
      opacity: 1;
    }
  }


  .owl-prev {
    left: 0;

    &:before {
      left: 17px;
      border-right: 7px solid #fff;
    }
  }

  .owl-next {
    right: 0;

    &:before {
      right: 17px;
      border-left: 7px solid #fff;
    }
  }

  &__slider {


    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 15;
      top: 0;
      left: 0;
      width: 100%;
      height: 55px;
      background-image: url(../img/splash2.png);
      transform: rotate(180deg);
    }
  }

  &__personalSlider {
    text-align: center;

    .personal__item {
      display: inline-block;
    }

    .owl-prev, .owl-next {
      position: absolute;
      top: 90px;
    }
  }
}

#map {
  position: relative;
  height: 500px;
  margin: -40px 0 -20px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    width: 100%;
    height: 80px;
    background-image: url(../img/splash.png);
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 80px;
    background-image: url(../img/splash.png);
    transform: rotate(180deg);
  }
}

.present {
  position: relative;
  padding-top: 65px;
  padding-bottom: 90px;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    width: 100%;
    height: 80px;
    background-image: url(../img/splash.png);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
  }

  &__left {
    flex: 0 0 360px;
    width: 360px;
  }

  &__middle {
    flex: 0 0 350px;
    width: 350px;
  }

  &__right {
    flex: 0 0 450px;
    width: 450px;
  }

  &__header {
    margin-bottom: 10px;
    border-bottom: 6px solid;
    padding-left: 90px;
    background: url(../img/present.png) no-repeat left top;
    color: #fff;

    span {
      @extend .shadow;
      font-size: 44px;
    }
  }

  &__text {
    margin-bottom: 15px;
    @extend .light;
    font-size: 15px;
    color: #fff;
    line-height: 1.3;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 290px;
  }

  &__list {
    @extend .ul-reset;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__listItem {
    position: relative;
    margin-bottom: 10px;
    flex: 0 0 39%;
    width: 39%;
    padding-left: 3%;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 5px;
      left: 0;
      width: 4px;
      height: 2px;
      background-color: #fff;
    }
  }
  
  &__listLink {
    @extend .link-reverse;
    @extend .shadow;
    font-size: 15px;
    color: #fff;
  }

  .owl-pagination {
    margin-top: -14px;
  }

  &__sliderItem {
    display: block;
    font-size: 0;
    box-sizing: border-box;

    img {
      border: 2px solid #fff;
      width: 100%;
      box-sizing: border-box;
    }
  }

  .owl-next {
    top: auto;
    bottom: -22px;
    right: 15px;
    opacity: 1;
  }
}